<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.doubleu.approval.mybatis.ApprovalMapper">
	<insert id="insert" parameterType="com.doubleu.approval.vo.FormVo">
		INSERT ALL 
		INTO approval_form(form_no, employee_no, drafter_name, form_date, drafter_department, form_title, form_doc, form_type, cooperation_department, event_date, drafter_position,approval_state) 
		VALUES(seq_approval_form.nextval, ${employeeNo}, '${drafterName}', SYSDATE, '${drafterDepartment}', '${formTitle}', '${formDoc}', '${formType}', '${cooperationDepartment}', TO_DATE('${eventDate}', 'YYYY-MM-DD'), '${drafterPosition}', '(발신)상신')
		<if test="attFileList != null">
			<foreach collection="attFileList" item="att">
				INTO approval_files(files_no, form_no, file_sysfile, file_orifile)
				VALUES(getApprovalAttSeq(), seq_approval_form.currval, '${att.sysFile}', '${att.oriFile}')
			</foreach>
		</if>
		<if test="makersList != null">
			<foreach collection="makersList" item="maker">
			INTO approval_decision_makers(employee_no, form_no, maker_name, maker_position, decision_state, maker_comment, maker_order)
			VALUES(getApprovalADMSeq(), seq_approval_form.currval, '${maker.makerName}', '${maker.makerPosition}', 0, '${maker.makerComment}', ${maker.makerOrder})
			</foreach>
		</if>

		<choose>
		<when test= "formType == '품의서' or formType == '구매품의서'">
			INTO approval_form_petition(form_no, form_purpose, budget) 
			VALUES (seq_approval_form.currval, '${formPetitionVo.formPurpose}', ${formPetitionVo.budget})
		</when>
		<when test="formType == '휴가신청서'">
			INTO approval_form_vacation(form_no, start_date, end_date, vacation_cnt, vacation_type, half_day_type)
			VALUES(seq_approval_form.currval, TO_DATE('${formVacationVo.startDate}', 'YYYY-MM-DD'), TO_DATE('${formVacationVo.endDate}', 'YYYY-MM-DD'), ${formVacationVo.vacationCnt}, '${formVacationVo.vacationType}', '${formVacationVo.halfDayType}')
		</when>
		</choose>
		
		SELECT * FROM dual
	</insert>
	<select id="outgoingTotalListSize" resultType="int" parameterType="com.doubleu.approval.vo.IndexPage">
		SELECT count(form_no) FROM approval_form WHERE employee_no = ${employeeNo} AND (form_title LiKE '%${findStr}%' OR form_doc LIKE '%${findStr}%')
	</select>
	<select id="outgoingSelect" resultType="com.doubleu.approval.vo.FormVo" parameterType="com.doubleu.approval.vo.IndexPage" resultMap="resultVo">
		SELECT * FROM (
		SELECT ROWNUM rno, af.* FROM (
		SELECT * FROM approval_form 
		<where>
		employee_no = ${employeeNo} 
		AND (form_title LIKE '%${findStr}%' OR form_doc LIKE '${findStr}')
		<if test="findType != null">
		AND	form_type = '${findType}'
		</if>
		<if test="findState != null">
		AND form_state = '${findState}'
		</if>
		</where>
		ORDER BY form_no DESC) af)
		WHERE rno BETWEEN '${startNo}' AND '${endNo}'
	</select>
	<select id="chooseTotalListSize" resultType="int" parameterType="com.doubleu.approval.vo.SelectPage">
		SELECT count(form_no) FROM approval_form WHERE employee_no = ${employeeNo} AND approval_state = '${findState}'
	</select>
	<select id="chooseSelect" resultType="com.doubleu.approval.vo.FormVo" parameterType="com.doubleu.approval.vo.SelectPage" resultMap="resultVo">
		SELECT * FROM (
		SELECT ROWNUM rno, af.* FROM (
		SELECT * FROM approval_form 
		WHERE employee_no = ${employeeNo} AND approval_state = '${findState}' ORDER BY form_no DESC) af)
		WHERE rno BETWEEN '${startNo}' AND '${endNo}'
	</select>
	
	
	
	<resultMap type="com.doubleu.approval.vo.FormVo" id="resultVo">
		<result property="formNo" column="FORM_NO"/>
		<result property="employeeNo" column="EMPLOYEE_NO"/>
		<result property="drafterName" column="DRAFTER_NAME"/>
		<result property="formDate" column="FORM_DATE"/>
		<result property="drafterDepartment" column="DRAFTER_DEPARTMENT"/>
		<result property="drafterPosition" column="DRAFTER_POSITION"/>
		<result property="formTitle" column="FORM_TITLE"/>
		<result property="formDoc" column="FORM_DOC"/>
		<result property="formType" column="FORM_TYPE"/>
		<result property="cooperationDepartment" column="COOPERATION_DEPARTMENT"/>
		<result property="eventDate" column="EVENT_DATE"/>
		<result property="approvalState" column="APPROVAL_STATE"/>
	</resultMap>	
	
</mapper>