<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.doubleu.market.mybatis.MarketMapper">
	<insert id = 'insert' parameterType="com.doubleu.market.vo.MarketVo">
		insert all
		into market(marketno, categoryno, membersno, marketsubject, marketprice, marketaccount, marketdoc, markethit, marketdate)
		values(market_seq.nextval, #{categoryno}, #{membersno}, #{marketsubject}, #{marketaccount}, #{marketdoc},#{markethit},sysdate)
		<if test="attList != null">
			<foreach collection="attList" item="att">
				into marketfiles(filesno, marketno, filessysfile, filesorifile)
				values (getMarketAttSeq(), market_seq.currval, #{att.sysFile}, #{att.oriFile})
			</foreach>
		</if>
		select * from dual		
	</insert>
	
		<insert id="insert_att" parameterType="com.doubleu.market.vo.MarketVo" >
		INSERT ALL
		<foreach collection="attList" item="att">
			INTO marketfiles(filesno, marketno, filessysfile, filesorifile)
			VALUES (getMarketAttSeq(), ${marketno}, #{att.sysFile}, #{att.oriFile})
		</foreach>
		SELECT * FROM dual
	</insert>
</mapper>