<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.doubleu.profile.mybatis.ProfileMapper">

	<select id="selectProfile" parameterType="com.doubleu.profile.vo.ProfileVo" resultMap="selectProfileData">
		SELECT * FROM member
	</select>

    

	<resultMap id="selectProfileData" type="com.doubleu.profile.vo.ProfileVo">
 
	<result property="memberNo" column="member_no" /> 
	<result property="memberMid" column="member_mid" /> 
	<result property="memberPwd" column="member_pwd" /> 
	<result property="memberName" column="member_name" /> 
	<result property="memberEmail" column="member_email" /> 
	<result property="memberDepartment" column="member_department"  />
	<result property="memberTeam" column="member_team"  /> 
	<result property="memberPhoneNumber" column="member_phonenumber"/>  
	<result property="memberZipcode" column="member_zipcode" />
	<result property="memberAddress" column="member_address" /> 
	<result property="memberPosition" column="member_position" /> 
	
	</resultMap>
	
	<insert id="startWork" parameterType="com.doubleu.profile.vo.WorkVo">
		<![CDATA[
			insert into WORK(
				work_no,
				member_no,
				member_mid,
				work_date,
				work_start,
				work_finish,
				work_total,
				work_plus
				)
			values(
				work_seq.nextval, 
				#{memberNo}, 
				#{workMid}, 
				#{workDate}, 
				#{workStart}, 
				#{workFinish}, 
				#{workTotal}, 
				#{workPlus}
				)
		]]>
	</insert>
	<select id="selectWork" parameterType="com.doubleu.profile.vo.WorkVo" resultMap="selectWorkData">
		SELECT * FROM WORK
	</select>

	<select id="selectWorkOne" parameterType="com.doubleu.profile.vo.WorkVo" resultMap="selectWorkData">
		select * from work where member_no = #{_parameter} and  work_no=(select max(work_no)from work)
	</select>

	<resultMap id="selectWorkData" type="com.doubleu.profile.vo.WorkVo">
 
	<result property="workNo" column="work_no" /> 
	<result property="memberNo" column="member_no" /> 
	<result property="workMid" column="member_mid" /> 
	<result property="workDate" column="work_date" /> 
	<result property="workStart" column="work_start" /> 
	<result property="workFinish" column="work_finish"  />
	<result property="workTotal" column="work_total"  /> 
	<result property="workPlus" column="work_plus"/>  
	
	</resultMap>
	
</mapper>
	