@charset "UTF-8";

body {
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


/* 전자결재 사이드바 CSS */
.e-approval-container {
	display: flex;	
	flex-direction: row;
	width: 100%;
	height: 100%;
	margin: auto;
}
.e-approval-lnb {
	background-color: #f8f9fa;
	width: 20%;
	text-align: center;
	padding: 1.2em 1.5em 0em 1.5em;
	min-height: 722px;
}

.e-approval-lnb-content {
	width: 16%;
	position: fixed;
}

.e-approval-lnb-content > h4{
	margin-bottom: 1em;
	font-size: 1.4em;
}

.e-approval-form-btn > input[type="button"] {
	width: 100%;
	font-size: 0.9em;
	margin-bottom: 1em;
}

.e-approval-lnb-content ul {
	list-style-type: none; 
	padding-inline-start: 0;
}

.e-approval-lnb-content ul > li {
	font-size: 0.9em;
	padding: 5px 0 5px 40px;
	text-align: left;
}

.e-approval-approval-list > ul > li > a {
	text-indent: 1em;
}

.e-approval-approval-list  {
	margin-top: 2em;
}
.e-approval-approval-list a {
	color: #000000;
	width: 100%;
	display: block;
}

.e-approval-approval-list > a {
	margin-bottom: 0.7em;
	display: block;
	width: 100%;
	font-size: 1.1em;
}

.e-approval-approval-list a:visited,
.e-approval-approval-list a:link {
	text-decoration: none;
	color: #6c757d;
}
.e-approval-approval-list a:hover {
	text-decoration: none;
	color: #000000;
}

.e-approval-approval-list > ul > li:hover {
	background-color: #e2e5de;
}

.e-approval-scroll {
	overflow: auto;
	height: 300px;
}

/* +++++++++++++++++++++++++++++++++++++++ */


/* 전자결재 main CSS */
.e-approval-article {
	width: 80%;
	padding: 3em 5em 0 5em;
}

/* modal */
.e-approval-formChoose-modal a,
.e-approval-formChoose-modal a:visited,
.e-approval-formChoose-modal a:link {
	text-decoration: none;
	color: #6c757d;
}
.e-approval-formChoose-modal a:hover {
	text-decoration: none;
	font-weight: bold;
	color: #000000;
}

.e-approval-formChoose-modal-tab {
	padding: 0 1.25rem 0 1.25rem;
	}
	
.e-approval-formChoose-btn {
	font-size: 1.1em;
	text-decoration: none;
	color: #6c757d;
}
.e-approval-formChoose-btn:hover {
	text-decoration: none;
	font-weight: bold;
	color: #000000;
}


.e-approval-formChoose-btn:focus {
	box-shadow: none;
}

.e-approval-formChoose-modal-ul {
	list-style-type: none;
	margin-bottom: 0;
}
.e-approval-formChoose-modal-ul > li {
	margin-bottom: 3px;
}

.e-approval-approval-list a:visited{
	text-decoration: none;
	color: #6c757d;
}
.e-approval-approval-list a:link{
	text-decoration: none;
	color: #6c757d;
}
.e-approval-approval-list a:hover {
	text-decoration: none;
	color: #000000;
}


/* e-approval-search-bar CSS */


.e-approval-search-bar {
	width: 100%;
	min-height: 10%; 
	margin-bottom: 4em;
}

.e-approval-search-form {
	width: 100%;
	min-height: 10%;
}

.e-approval-form-box {
	width: 100%;
	min-height: 10%;
}

.e-approval-select-box:hover {
	cursor: pointer;
}

.e-approval-form-box > select {
	display: inline-block;
	width: 15%;
	float: right;
	margin-left: 0.5em;
}

.e-approval-form-box > input[type="text"] {
	display: inline-block;
	margin-top: 0;
	width: 30%;
	float: right;
	margin-left: 0.5em;
}

.e-approval-form-box > input[type="button"] {
	display: inline-block;
	margin-top: 0;
	float: right;
	margin-left: 0.5em;
	}


/* e-approval-table CSS */
.e-approval-table {
	width: 100%;	
}
.e-approval-table > strong {
	display: inline-block;
	font-size: 0.9em;
	margin-bottom: 0.5em;
}

.e-approval-list {
	font-size: 0.8em;
}

.e-approval-list td:hover {
	cursor: pointer;
}

.e-approval-list tr {
	text-align: center;
}

/* e-approval-list-pagination CSS (페이징처리)*/
.e-approval-list-pagination a:link,
.e-approval-list-pagination a:visited {
	color: #6c757d;
	text-decoration: none;
} 

.e-approval-list-pagination a:hover {
	color: #212529;
}

.e-approval-list-pagination {
	margin-top: 1em;
	margin-bottom: 4em;
}

.e-approval-list-pagination:last-child {
	padding-bottom: 7em;
}



/* 전자결재 form 양식 */
.e-approval-form-container {
	width: 90%;
	height: 100%;
	margin: 3em auto 0 auto;
}
.e-approval-form-container  th{
	background-color: #f8f9fa;
}

.e-approval-form-header {
	width: 90%;
	margin: 3em auto 2em auto;
}


.e-approval-work-btns {
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.e-approval-work-form-btns {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.e-approval-view-btn-box {
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.e-approva-view-btn-content:last-child input[type=button] {
	margin-left: 5px;
	
}


.e-approval-work-btns input[type=button] {
	margin-left: 5px;
}

.e-approval-work-form-choose {
	display: flex;
	align-items: flex-start;
}

.e-approval-work-form-choose > select{
	display: inline-block;
	width: 200px;
}
.e-approval-form-workType-container {
	width: 90%;
	height: 100%;
	margin: 4em auto 4em auto;
	border: 2px solid gray;
	padding: 6em 5em 4em 5em;  
	font-size: 0.8em;
}

.e-approval-form-workType-title {
	text-align: center;
	margin: 0 auto 4em auto;
	border-bottom: 5px double gray;
	width: 200px;
}

.e-approval-form-workType-container .e-approval-form-workType-title {
	text-align: center;
}

.e-approval-form-workType-top {
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.e-approval-form-workType-top-1 {
	width: 200px;
	text-align: center;
	margin-bottom: 3em;
}

.e-approval-form-workType-top-1 th {
	width: 110px;
}

.e-approval-file-zone {
	width: 100%;
	min-height: 150px;
}

.e-approval-form-approval-box {
	display: flex;
}

.e-approval-form-approval-box-1 {
	writing-mode: tb-rl;
	height: 120.8px;
	width: 20px;
	text-align: center;
	background-color: #f8f9fa;
	border-right: 0;
	font-weight: bold;
}

.e-approval-form-approval-box-2 td {
	width: 65px;
}

.e-approval-form-table-3 th{
	width: 110px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}


.e-approval-form-vacationType-check-box {
	display: inline-block;	
	margin-right: 1em;	
}


.e-approval-reason {
	width: 95%;
	margin: 0 auto;
}

.e-approval-reason > textarea {
	margin-bottom: 1em;
}
